@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@tailwind utilities;

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-serif {
  font-family: "Source Serif 4", serif;
}
.animate {
  @apply ease-in-out transition-all;
}

.animate-grow {
  @apply hover:scale-105 duration-300;
}

.animate-menu {
  @apply hover:w-65 hover:text-gray-200 duration-600;
}

.animate-menu-icon {
  @apply hover:scale-115 hover:text-violet-400 duration-300;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.animate-fade-up {
  animation: fadeUp 1s ease-out;
}

.animate-fade-up-fast {
  animation: fadeUp 0.3s ease-out;
}
.markdown {
  animation: fadeUp 0.3s ease-in-out;
  @apply transition-all;
}

.markdown h1 {
  @apply text-violet-800 font-semibold text-lg transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown h2 {
  @apply text-violet-800/80 font-semibold text-lg transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown h3 {
  @apply text-violet-800/70 font-medium text-lg transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown h4 {
  @apply text-violet-900/70 font-medium text-lg transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown h5 {
  @apply text-violet-900/70 font-medium transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown h6 {
  @apply text-violet-900/60 font-medium transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown p {
  @apply mx-4;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown ul {
  @apply list-disc list-inside mx-2 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown li {
  @apply list-outside mx-4 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown ol {
  @apply list-decimal list-inside mx-2 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown code {
  @apply bg-violet-900/10 text-violet-900/80 font-mono text-sm px-1 py-0.5 rounded-md transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown pre code {
  @apply block bg-violet-900/10 text-gray-800 font-mono text-sm p-6 m-2 rounded-xl mx-8 transition-all overflow-auto;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown blockquote {
  @apply border-l-10 border-violet-900/20 bg-violet-900/10 text-violet-900/80 italic font-serif p-4 m-2 rounded-xl mx-8 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown hr {
  @apply border-t border-violet-900/20 my-4 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown a {
  @apply text-violet-800 underline transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown table {
  @apply w-full border-collapse transition-all rounded-2xl overflow-hidden text-center ring-1 ring-violet-900/20;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown th {
  @apply bg-violet-900/10  font-semibold p-2 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}

.markdown td {
  @apply border-violet-900/20 py-2 px-4 transition-all border-b;
  animation: fadeUp 0.3s ease-in-out;
}

li p {
  @apply -translate-x-4 mb-2 transition-all;
  animation: fadeUp 0.3s ease-in-out;
}
